{% extends "base.html" %}

{% block title %}Category Forms{% endblock %}

{% block content %}
<h2>Category Page</h2>

<p>Use this page to add or update a category.</p>

<div id="chart"></div>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Description</td>
            <td>Monthly Allocation</td>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category_id }}</td>
            <td>{{ category.description }}</td>
            <td style="text-align: right;">{{ "$" + "{:,.2f}".format(category.monthly_allocation) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="transaction-container">
    <div class="transaction-form-box">
        <h3>Add a Category</h3>
        <form action="/add-category" method="post">
            <label for="monthly_allocation">Monthly Allocation:</label>
            <input type="number" step="0.01" id="monthly_allocation" name="monthly_allocation" required><br><br>
            
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required><br><br>
            
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br><br>
            
            <button type="submit" class="button">Add Category</button>
        </form>
    </div>
    <div class="transaction-form-box">
        <h3>Update a Category</h3>
        <form action="/update-category" method="post">
            <label for="transaction_id">Transaction ID:</label>
            <input type="number" step="1" id="category_id" name="category_id" required><br><br>
        
            <label for="monthly_allocation">Amount:</label>
            <input type="number" step="0.01" id="monthly_allocation" name="monthly_allocation" required><br><br>
            
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required><br><br>
            
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br><br>
            
            <button type="submit" class="button">Update Category</button>
        </form>
    </div>
</div>

<script>
    // Check if the token exists in localStorage
    const token = localStorage.getItem('access_token');

    if (!token) {
        alert('You are not authorized to view this page.');
        window.location.href = '/';
    }

    document.getElementById('logoutButton').addEventListener('click', function() {
        localStorage.removeItem('access_token');
        window.location.href = '/';
    });
</script>

{% endblock %}
