{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %} 

{% block content %}
<h2>This is the Home Page</h2>

<h3>Transactions</h3>
<a href="/add-transaction" class="button">Transaction Forms</a><br>
<a href="/add-batch-transaction" class="button">Batch Transaction</a><br>
<a href="/query-transaction" class="button">Dashboard</a>
<a href="/update-transaction1" class="button">Update Transaction</a>

<h3>Other</h3>
<a href="/get-last-seven-days" class="button">View Latest Transactions</a><br>
<a href="/get-current-month" class="button">View Current Month's Transactions</a>

<h3>Categories</h3>
<a href="/add-category" class="button">Category Forms</a><br>
<a href="/categories/breakdown" class="button">Category Breakdown</a>

<h3>Recurring Expenses</h3>
<a href="/get-recurring-expense" class="button">Recurring Expenses</a><br>

<script>
    // Check if the token exists in localStorage
    const token = localStorage.getItem('access_token');

    if (!token) {
        alert('You are not authorized to view this page.');
        window.location.href = '/';
    }

    document.getElementById('logoutButton').addEventListener('click', function() {
        localStorage.removeItem('access_token');
        window.location.href = '/';
    });
</script>
{% endblock %}