{% extends "base.html" %}

{% block title %}Recurring Expenses{% endblock %}

{% block content %}
<h2>Non-monthly Recurring Expenses</h2>

{% if status_statement %}
    {% if status_color == "green" %}
        <p style="color: greenyellow;">{{ status_statement }}</p>
    {% else %}
        <p style="color: red;"> {{ status_statement }}</p>
    {% endif %}
{% endif %}

{% if recurring_expenses %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th>Description</th>
            <th>Category</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.transaction_id }}</td>
            <td>{{ transaction.date }}</td>
            <td>${{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.notes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<form action="/add_recurring_expense" method="POST">
    <!-- Amount -->
    <label for="amount">Amount:</label><br>
    <input type="number" id="amount" name="amount" step="0.01" required><br><br>

    <!-- Frequency -->
    <label for="frequency">Frequency:</label><br>
    <select id="frequency" name="frequency" required>
        <option value="Yearly">Yearly</option>
        <option value="Bi Monthly">Bi-Monthly (Every 2 months)</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Semi-Annually">Semi-Annually</option>
    </select><br><br>

    <!-- Category -->
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category" placeholder="e.g., Rent, Utilities" required><br><br>

    <!-- Description -->
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" placeholder="Short description of the expense" required><br><br>

    <!-- Notes -->
    <label for="notes">Notes (optional):</label><br>
    <textarea id="notes" name="notes" placeholder="Any additional information"></textarea><br><br>

    <!-- Submit Button -->
    <button type="submit">Add Expense</button>
</form>

<script>
    // Check if the token exists in localStorage
    const token = localStorage.getItem('access_token');

    if (!token) {
        alert('You are not authorized to view this page.');
        window.location.href = '/';
    }

    document.getElementById('logoutButton').addEventListener('click', function() {
        localStorage.removeItem('access_token');
        window.location.href = '/';
    });
</script>

{% endblock %}