body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333;
}

header {
    background-color: #0078d7;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 2rem;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    width: 100%;
}

/* Style for the button */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #0078d7;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #005a9e;
}

.transaction-container {

    display: flex;
    gap: 20px;
}

.transaction-form-box {
    background-color: #ffffff;
    flex: 50%;
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

#batch-transactions-form {
    max-width: 800px; /* Wider form for better usability */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#batch-transactions-form input, 
#batch-transactions-form select, 
#batch-transactions-form textarea {
    width: calc(100% - 20px); /* Consistent padding and spacing */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#transaction-table {
    width: 100%; /* Full-width table */
    border-collapse: collapse;
}

#transaction-table td input {
    width: calc(100% - 10px); /* Input fields adapt to table cell width */
    box-sizing: border-box;
}



